<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static'), filename = 'sugestao.css' }}">
    <title>Aba de Sugestão</title>
</head>
<nav id="menu">
    <a href="{{url_for ('indexcafeteria') }}" id="bhome" >Home</a>  
</nav>
<body>
    <header>
        <img src="imgs/logosenac.png" alt="logosenac" id="logosenac">
        <img src="imgs/acessibilidade-universal-removebg-preview.png" alt="logoacessibilidade" id="acessibilidade">
    </header>
    <main class="container">
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <textarea name="mensagem" id="mensagem">Escreva sua sugestão</textarea>
            <button type="submit" id="botao">Enviar</button>
            <a href="{{url_for ('indexcafeteria')}}" id="botao-voltar">Voltar</a>
        </form>
    </main>
</body>
<footer>
    <p>Senac - Polo Agreste @2025</p>
</footer>
</html>