*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header{
    margin: center;
    
}
.logosenac{
    justify-content: left;
}
nav{
    background-color: darkorange;
    color: white;
    list-style-type: none;
    margin:auto;
    text-align: left;
}
body{
    font-family: Cambria;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-sizing: border-box;

}
footer{
    text-align: center;
    color: #044B8C;
    margin-top: 40px;
    padding: 30%;
    font-weight: bold;
}