*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
#menu{
    background-color: #D86C1F;
    list-style-type: none;
    margin:auto;
    text-align: right;
}
#bsugestao{
    color: white;
    list-style-type: none;
    margin:auto;
    text-align: right;
    padding: 10px;
}
#blogin{
    color: white;
    list-style-type: none;
    margin:auto;
    text-align: right;
    padding: 10px;
}

#bcadastro{
    color: white;
    list-style-type: none;
    margin:auto;
    text-align: right;
    padding: 10px;
}


/*main{
    
}*/
#periodo{
    background-color: #D86C1F;
    color: white;
    list-style-type: none;
    margin:30px;
    text-align: center;
    text-decoration: dashed;
}
.pratos{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:flexbox;
    justify-content: center;
    margin-left: 18%;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    float: left;
    margin-top: -34%;
    justify-items:center;
}
.comidas{
    padding: 30px;
    justify-items:center;
}
.bebidas{
    
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flexbox;
    margin-right: 18%;
    justify-content:center;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    float:right;
    margin-top: -34%;
}
.drinks{
    padding: 30px;
    justify-items:center;
}

body{
    font-family: Cambria;
    background-color: #D9D9D9;
    text-align: center;
}
header{
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, alpha);
    text-align: left;

}

#logosenac{
    padding:20px;
}

#textocafeteria{
    text-align: center;
}
#acessibilidade{
    max-width: 50px;
    max-height: 50px;
    float: right;
    
    margin-top: -10%;
}
.sobre{
    margin: 15px;
    background-color:ghostwhite;
    color: #D86C1F;
    display: flex;
    flex-direction: column;
    text-justify: center;
    text-align: left;
    border-radius: 10px;
    max-width: 150px;
    max-height: auto;
}

.paragrafo{
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px 30px;
    
    
}
footer{
    color: #044B8C;
    margin-bottom: auto;
    font-weight:bold;
}
